<section id="immobiliaries" style="padding:4rem 0;">
    <div style="max-width: 100%; padding: 0 20px; margin: 0 auto;">
        <h2 style="text-align:center;" style="text-align:center;" style="color:#00326B; text-align:center;">Serveis per a immobiliàries i allotjaments turístics</h2>
        <ul>
            <li>Posada a punt d'habitatges</li>
            <li>Reparacions urgents</li>
            <li>Manteniment periòdic</li>
            <li>Preparació d'immobles per a venda o lloguer</li>
            <li>Supervisió de segones residències</li>
            <li>Gestió integral de manteniment</li>
        </ul>
    </div>
</section>
