<section id="jardineria" style="padding:4rem 0; background:#F5F7FA;">
    <div style="max-width: 100%; padding: 0 20px; margin: 0 auto;">
        <h2 style="text-align:center;" style="text-align:center;" style="color:#00326B; text-align:center;">Jardineria integral</h2>
        <ul>
            <li>Tall de gespa</li>
            <li>Poda d'arbustos, tanques i arbres</li>
            <li>Desbrossament de parcel·les</li>
            <li>Neteja de jardins i eliminació de males herbes</li>
            <li>Plantació i manteniment de zones verdes</li>
            <li>Posada a punt per a l'estiu</li>
        </ul>
    </div>
</section>
