<section id="social-banner">
    <div class="social-content">
        <h2>Contacta'ns</h2>
        <p><a href="https://wa.me/34677218303?text=Hola%2C%20vinc%20de%20la%20web%20de%20Manteniments%20Lizana" target="_blank" rel="noopener noreferrer">677 218 303</a></p>
        <p><a href="mailto:mantenimentlizana@gmail.com">mantenimentlizana@gmail.com</a></p>
        <div class="social-icons">
            <a href="https://www.instagram.com/manteniments_lizana" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/share/18RVkhHcr3/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://wa.me/34677218303?text=Hola%2C%20vinc%20de%20la%20web%20de%20Manteniments%20Lizana" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </div>
</section>
