{{ define "main" }}
<section id="inici" style="background: url('/images/jesse-gardner-OwWbUOIbhDY-unsplash.webp') center/cover no-repeat; text-align:center; color:white; padding:40px 20px 120px 20px; min-height:100vh; display:flex; flex-direction:column; justify-content:center; align-items:center;">
    <h1 style="margin-bottom: 1.5rem; text-transform: uppercase; text-align: center;">Mantenim la qualitat,<br>cuidem el teu espai</h1>
    <p style="margin-bottom: 2.5rem; text-align:center; text-transform:uppercase;">Servei professional de confiança</p>
    <a href="#contacte" id="btn-hero" class="btn" style="font-size: 1.2rem; padding: 16px 40px; background: white; color: #00326B; border: 2px solid white; box-shadow: 0 4px 15px rgba(0,0,0,0.3);">Sol·licita pressupost</a>
</section>

{{ partial "servicios.html" . }}
{{ partial "piscinas.html" . }}
{{ partial "jardineria.html" . }}
{{ partial "inmobiliarias.html" . }}
{{ partial "testimonios.html" . }}
{{ partial "social-banner.html" . }}
{{ partial "contacto-form.html" . }}
{{ end }}
